name: PR Build

on:
  pull_request:
    branches:
    - main
    types: [opened, synchronize, reopened]

jobs: 
  build: 
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Check lint
      run: bun lint

    - name: Run build
      run: bun run build
    
